.container {
    display: flex;
    flex-direction: row;
}
.controls {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.profilePic {
    width: 50%;
    margin: 20px 0
}

.room-table {
    width: 70%;
}
.logout-button {
    width: 40%;
    margin-top: 20px;
}
.userInfo {
    background-color: #c5f8f2;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
}