.durakInnerContainer {
    display: flex;
    flex-direction: column;
}
.gameBoardContainer {
    margin-left: 20%;
    position: fixed;
    top: 40%;
    width: 13%;
}
.dequeContainer {
    left: 40%;
    position: fixed;
    top: 40%;
    width: 13%;
}
.discardedCardsContainer {
    left: 40%;
    position: fixed;
    top: 65%;
    width: 13%;
}
.otherHandContainer {
    position: fixed;
}
.handContainer {
    left: 47.5%;
    position: fixed;
    bottom: 10%;
    width:40%;
}
.buttonGroup {
    position: fixed;
    left: 37.5%;
    bottom: 15px;
    width: 40%;
}
.endGameInfo {
    position: fixed;
    left: 45%;
    bottom: 45%;
    width: 20%;
}
.cardStyle {
    width: 13rem;
    height: 10rem;
}