.mouseOff {
    margin-right: -20px;
    width: 10rem;
    height: 5rem;
    font-size: 11px;
}
.mouseOn {
    color: blue;
    margin-right: -20px;
    width: 10rem;
    height: 5rem;
    font-size: 11px;
}